{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "browsers": ["> 1%", "last 2 versions", "IE >= 11"]
          },
          "useBuiltIns": "entry"
        }
      }
    ]
  ],
  "plugins": [
    "lodash",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-classes",
    "babel-plugin-styled-components"
  ]
}
