{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["import", "lodash", "react", "react-hooks"],
  "parser": "babel-eslint",
  "rules": {
    "jsx-a11y/anchor-has-content": "off",
    "jsx-a11y/aria-role": "off",
    "jsx-a11y/aria-props": "off",
    "jsx-a11y/aria-proptypes": "off",
    "jsx-a11y/aria-unsupported-elements": "off",
    "jsx-a11y/alt-text": "off",
    "jsx-a11y/img-redundant-alt": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/mouse-events-have-key-events": "off",
    "jsx-a11y/no-access-key": "off",
    "jsx-a11y/no-onchange": "off",
    "jsx-a11y/interactive-supports-focus": "off",
    "jsx-a11y/role-has-required-aria-props": "off",
    "jsx-a11y/role-supports-aria-props": "off",
    "jsx-a11y/tabindex-no-positive": "off",
    "jsx-a11y/heading-has-content": "off",
    "jsx-a11y/html-has-lang": "off",
    "jsx-a11y/lang": "off",
    "jsx-a11y/no-distracting-elements": "off",
    "jsx-a11y/scope": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/accessible-emoji": "off",
    "jsx-a11y/aria-activedescendant-has-tabindex": "off",
    "jsx-a11y/iframe-has-title": "off",
    "jsx-a11y/no-autofocus": "off",
    "jsx-a11y/no-redundant-roles": "off",
    "jsx-a11y/media-has-caption": "off",
    "jsx-a11y/no-interactive-element-to-noninteractive-role": "off",
    "jsx-a11y/no-noninteractive-element-to-interactive-role": "off",
    "jsx-a11y/no-noninteractive-tabindex": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "import/no-cycle": "off",
    "import/prefer-default-export": "off",
    "comma-dangle": ["error", "never"],
    "camelcase": "off",
    "global-require": "off",
    "no-console": "warn",
    "no-underscore-dangle": "off",
    "no-use-before-define": "off",
    "no-param-reassign": "off",
    "function-paren-newline": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/button-has-type": "error",
    "react/destructuring-assignment": "off",
    "react/prefer-stateless-function": "off",
    "react/no-multi-comp": "off",
    "react/jsx-key": "error",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  },
  "env": {
    "node": true,
    "browser": true,
    "jest": true,
    "es6": true
  },
  "settings": {
    "import/resolver": {
      "alias": [["components", "./components"], ["containers", "./containers"]]
    }
  }
}
