@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/static/fonts/IBMPlexSans.eot');
  src: url('/static/fonts/IBMPlexSans.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/IBMPlexSans.woff2') format('woff2'),
    url('/static/fonts/IBMPlexSans.woff') format('woff'),
    url('/static/fonts/IBMPlexSans.ttf') format('truetype'),
    url('/static/fonts/IBMPlexSans.svg#IBMPlexSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-Regular.eot');
  src: url('/static/fonts/Roboto-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('/static/fonts/Roboto-Regular.woff2') format('woff2'),
    url('/static/fonts/Roboto-Regular.woff') format('woff'),
    url('/static/fonts/Roboto-Regular.ttf') format('truetype'),
    url('/static/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/static/fonts/IBMPlexSans-SemiBold.eot');
  src: url('/static/fonts/IBMPlexSans-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('/static/fonts/IBMPlexSans-SemiBold.woff2') format('woff2'),
    url('/static/fonts/IBMPlexSans-SemiBold.woff') format('woff'),
    url('/static/fonts/IBMPlexSans-SemiBold.ttf') format('truetype'),
    url('/static/fonts/IBMPlexSans-SemiBold.svg#IBMPlexSans-SemiBold')
      format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/static/fonts/IBMPlexSans-Bold.eot');
  src: url('/static/fonts/IBMPlexSans-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('/static/fonts/IBMPlexSans-Bold.woff2') format('woff2'),
    url('/static/fonts/IBMPlexSans-Bold.woff') format('woff'),
    url('/static/fonts/IBMPlexSans-Bold.ttf') format('truetype'),
    url('/static/fonts/IBMPlexSans-Bold.svg#IBMPlexSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-BoldItalic.eot');
  src: url('/static/fonts/Roboto-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/static/fonts/Roboto-BoldItalic.woff2') format('woff2'),
    url('/static/fonts/Roboto-BoldItalic.woff') format('woff'),
    url('/static/fonts/Roboto-BoldItalic.ttf') format('truetype'),
    url('/static/fonts/Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
