@font-face {
  font-family: 'FaktPro';
  src: url('/static/fonts/FaktPro-Medium.eot');
  src: url('/static/fonts/FaktPro-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('/static/fonts/FaktPro-Medium.woff2') format('woff2'),
    url('/static/fonts/FaktPro-Medium.woff') format('woff'),
    url('/static/fonts/FaktPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FaktPro';
  src: url('/static/fonts/FaktPro-Normal.eot');
  src: url('/static/fonts/FaktPro-Normal.eot?#iefix')
      format('embedded-opentype'),
    url('/static/fonts/FaktPro-Normal.woff2') format('woff2'),
    url('/static/fonts/FaktPro-Normal.woff') format('woff'),
    url('/static/fonts/FaktPro-Normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FaktPro';
  src: url('/static/fonts/FaktPro-Bold.eot');
  src: url('/static/fonts/FaktPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/FaktPro-Bold.woff2') format('woff2'),
    url('/static/fonts/FaktPro-Bold.woff') format('woff'),
    url('/static/fonts/FaktPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
